[submodule "fakeplayer"]
	path = fakeplayer
	url = https://github.com/Metroynome/fakeplayer.git
[submodule "nightvision"]
	path = nightvision
	url = https://github.com/Metroynome/nightvision.git
[submodule "accessibilityplus"]
	path = accessibilityplus
	url = https://github.com/Metroynome/accessibilityplus.git
